USE [master]
GO
/****** Object:  Database [LongTermCareDB]    Script Date: 2026/8/11 下午 04:21:19 ******/
CREATE DATABASE [LongTermCareDB]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'LongTermCareDB', FILENAME = N'C:\Users\User\LongTermCareDB.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'LongTermCareDB_log', FILENAME = N'C:\Users\User\LongTermCareDB_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [LongTermCareDB].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [LongTermCareDB]
GO
/****** Object:  Table [dbo].[__EFMigrationsHistory]    Script Date: 2026/8/11 下午 04:21:20 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[__EFMigrationsHistory](
	[MigrationId] [nvarchar](150) NOT NULL,
	[ProductVersion] [nvarchar](32) NOT NULL,
 CONSTRAINT [PK___EFMigrationsHistory] PRIMARY KEY CLUSTERED 
(
	[MigrationId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Announcements]    Script Date: 2026/8/11 下午 04:21:20 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Announcements](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Title] [nvarchar](100) NOT NULL,
	[Content] [nvarchar](max) NOT NULL,
	[Category] [nvarchar](max) NOT NULL,
	[CreatedAt] [datetime2](7) NOT NULL,
	[IsPinned] [bit] NOT NULL,
 CONSTRAINT [PK_Announcements] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CaseApplications]    Script Date: 2026/8/11 下午 04:21:20 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CaseApplications](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[CaseId] [int] NOT NULL,
	[CaregiverUserId] [int] NOT NULL,
	[CaregiverName] [nvarchar](max) NOT NULL,
	[Status] [nvarchar](max) NOT NULL,
	[AppliedAt] [datetime2](7) NOT NULL,
 CONSTRAINT [PK_CaseApplications] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CaseComments]    Script Date: 2026/8/11 下午 04:21:20 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CaseComments](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[CaseId] [int] NOT NULL,
	[UserId] [int] NOT NULL,
	[UserName] [nvarchar](max) NOT NULL,
	[UserRole] [nvarchar](max) NOT NULL,
	[Content] [nvarchar](max) NOT NULL,
	[CreatedAt] [datetime2](7) NOT NULL,
 CONSTRAINT [PK_CaseComments] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Cases]    Script Date: 2026/8/11 下午 04:21:20 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Cases](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[FamilyUserId] [int] NOT NULL,
	[Title] [nvarchar](max) NOT NULL,
	[Location] [nvarchar](max) NOT NULL,
	[EstimatedBudget] [decimal](18, 2) NOT NULL,
	[ServiceTime] [nvarchar](max) NULL,
	[Description] [nvarchar](max) NULL,
	[Status] [nvarchar](max) NOT NULL,
	[CaregiverUserId] [int] NULL,
	[CreatedAt] [datetime2](7) NOT NULL,
	[Address] [nvarchar](max) NULL,
	[Department] [nvarchar](max) NULL,
	[Hospital] [nvarchar](max) NULL,
	[PaymentStatus] [nvarchar](max) NOT NULL,
	[ServiceType] [nvarchar](max) NOT NULL,
 CONSTRAINT [PK_Cases] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Notifications]    Script Date: 2026/8/11 下午 04:21:20 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Notifications](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[UserId] [int] NOT NULL,
	[Title] [nvarchar](max) NOT NULL,
	[Message] [nvarchar](max) NOT NULL,
	[Url] [nvarchar](max) NOT NULL,
	[IsRead] [bit] NOT NULL,
	[CreatedAt] [datetime2](7) NOT NULL,
 CONSTRAINT [PK_Notifications] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Users]    Script Date: 2026/8/11 下午 04:21:20 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Users](
	[UserId] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](max) NOT NULL,
	[Email] [nvarchar](max) NOT NULL,
	[Password] [nvarchar](max) NOT NULL,
	[Role] [nvarchar](max) NOT NULL,
	[Area] [nvarchar](max) NOT NULL,
	[CertificateUrl] [nvarchar](max) NULL,
	[CreatedAt] [datetime2](7) NOT NULL,
	[IsApproved] [bit] NOT NULL,
	[IsBanned] [bit] NOT NULL,
	[Bio] [nvarchar](max) NULL,
	[Experience] [nvarchar](max) NULL,
	[LicenseNumber] [nvarchar](max) NULL,
	[Phone] [nvarchar](max) NULL,
 CONSTRAINT [PK_Users] PRIMARY KEY CLUSTERED 
(
	[UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
INSERT [dbo].[__EFMigrationsHistory] ([MigrationId], [ProductVersion]) VALUES (N'20260724064447_InitialCreate', N'8.0.29')
INSERT [dbo].[__EFMigrationsHistory] ([MigrationId], [ProductVersion]) VALUES (N'20260724080259_UpdateUserModel', N'8.0.23')
INSERT [dbo].[__EFMigrationsHistory] ([MigrationId], [ProductVersion]) VALUES (N'20260725150238_AddIsBanned', N'8.0.23')
GO
SET IDENTITY_INSERT [dbo].[Announcements] ON 

INSERT [dbo].[Announcements] ([Id], [Title], [Content], [Category], [CreatedAt], [IsPinned]) VALUES (2, N'系統將在8/11的晚上23:00進行例行維護', N'系統將在8/11的晚上23:00進行例行維護', N'System', CAST(N'2026-08-11T15:11:43.6655797' AS DateTime2), 0)
SET IDENTITY_INSERT [dbo].[Announcements] OFF
GO
SET IDENTITY_INSERT [dbo].[CaseApplications] ON 

INSERT [dbo].[CaseApplications] ([Id], [CaseId], [CaregiverUserId], [CaregiverName], [Status], [AppliedAt]) VALUES (1, 1, 1, N'舒', N'Accepted', CAST(N'2026-08-07T02:36:25.0013593' AS DateTime2))
SET IDENTITY_INSERT [dbo].[CaseApplications] OFF
GO
SET IDENTITY_INSERT [dbo].[CaseComments] ON 

INSERT [dbo].[CaseComments] ([Id], [CaseId], [UserId], [UserName], [UserRole], [Content], [CreatedAt]) VALUES (1, 1, 1, N'舒', N'Caregiver', N'你好
', CAST(N'2026-08-07T01:57:15.6090032' AS DateTime2))
INSERT [dbo].[CaseComments] ([Id], [CaseId], [UserId], [UserName], [UserRole], [Content], [CreatedAt]) VALUES (2, 1, 1002, N'李小姐', N'Family', N'Hello', CAST(N'2026-08-07T02:37:32.1088359' AS DateTime2))
SET IDENTITY_INSERT [dbo].[CaseComments] OFF
GO
SET IDENTITY_INSERT [dbo].[Cases] ON 

INSERT [dbo].[Cases] ([Id], [FamilyUserId], [Title], [Location], [EstimatedBudget], [ServiceTime], [Description], [Status], [CaregiverUserId], [CreatedAt], [Address], [Department], [Hospital], [PaymentStatus], [ServiceType]) VALUES (1, 1002, N'協助家中高齡長輩去看醫生', N'龜山區', CAST(300.00 AS Decimal(18, 2)), N'每周三下午13:00-15:00', N'行動較不方便有拿助行器，去醫院除了要復健還要領藥', N'InProgress', 1, CAST(N'2026-08-04T16:06:29.1774575' AS DateTime2), N'中正路100號E棟5樓', NULL, NULL, N'', N'')
INSERT [dbo].[Cases] ([Id], [FamilyUserId], [Title], [Location], [EstimatedBudget], [ServiceTime], [Description], [Status], [CaregiverUserId], [CreatedAt], [Address], [Department], [Hospital], [PaymentStatus], [ServiceType]) VALUES (4, 1002, N'曾奶奶眼科就醫陪伴', N'龜山區', CAST(1200.00 AS Decimal(18, 2)), N'3', N'陪同曾奶奶去眼科複診並領藥', N'InProgress', 1, CAST(N'2026-08-07T00:52:11.3842776' AS DateTime2), N'中正路100號E棟5樓', N'眼科', N'桃園醫院', N'Authorized', N'陪診')
SET IDENTITY_INSERT [dbo].[Cases] OFF
GO
SET IDENTITY_INSERT [dbo].[Users] ON 

INSERT [dbo].[Users] ([UserId], [Name], [Email], [Password], [Role], [Area], [CertificateUrl], [CreatedAt], [IsApproved], [IsBanned], [Bio], [Experience], [LicenseNumber], [Phone]) VALUES (1, N'舒', N'10243021@me.mcu.edu.tw', N'0000', N'Caregiver', N'桃園市龜山區', N'/uploads/a812f3f4-d660-4af0-b8ad-50e2c09f4a2e_sohappy.jfif', CAST(N'2026-07-24T17:23:56.7761752' AS DateTime2), 1, 0, NULL, NULL, NULL, N'0912345678')
INSERT [dbo].[Users] ([UserId], [Name], [Email], [Password], [Role], [Area], [CertificateUrl], [CreatedAt], [IsApproved], [IsBanned], [Bio], [Experience], [LicenseNumber], [Phone]) VALUES (2, N'Admin', N'admin@test.com', N'JULY25', N'Admin', N'桃園市龜山區', NULL, CAST(N'2026-07-25T22:24:00.0000000' AS DateTime2), 1, 0, NULL, NULL, NULL, NULL)
INSERT [dbo].[Users] ([UserId], [Name], [Email], [Password], [Role], [Area], [CertificateUrl], [CreatedAt], [IsApproved], [IsBanned], [Bio], [Experience], [LicenseNumber], [Phone]) VALUES (1002, N'李小姐', N'test@gmail.com', N'Jenny0408', N'Family', N'桃園市蘆竹區', NULL, CAST(N'2026-08-04T15:54:42.8909361' AS DateTime2), 1, 0, NULL, NULL, NULL, N'0912345888')
SET IDENTITY_INSERT [dbo].[Users] OFF
GO
ALTER TABLE [dbo].[Cases] ADD  DEFAULT (N'') FOR [PaymentStatus]
GO
ALTER TABLE [dbo].[Cases] ADD  DEFAULT (N'') FOR [ServiceType]
GO
ALTER TABLE [dbo].[Users] ADD  DEFAULT (N'') FOR [Area]
GO
ALTER TABLE [dbo].[Users] ADD  DEFAULT ('0001-01-01T00:00:00.0000000') FOR [CreatedAt]
GO
ALTER TABLE [dbo].[Users] ADD  DEFAULT (CONVERT([bit],(0))) FOR [IsApproved]
GO
ALTER TABLE [dbo].[Users] ADD  DEFAULT (CONVERT([bit],(0))) FOR [IsBanned]
GO
USE [master]
GO
